 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/songkran-06.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2651px;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 403px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

 .u-section-1 .u-text-69 {
   font-size: 0.75rem;
   margin-top: 100px;
 }

 .u-section-1 .u-text-70 {
   font-size: 0.75rem;
   margin-top: 0;
   margin-bottom: 0;
 }

.u-section-1 .u-list-2 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 50px 50px;
  min-height: 500px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-9 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-11 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-13 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-15 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-16 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-9 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-17 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-18 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-19 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-20 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-11 {
  padding: 0 20px 20px;
}

.u-section-1 .u-text-21 {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-22 {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 284px;
  height: auto;
  min-height: 72px;
  background-image: none;
  margin: 33px auto 40px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 14px 0 0 auto;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -48px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 0;
}

.u-section-1 .u-icon-2 {
  width: 48px;
  height: 48px;
  transform-origin: center center 0px;
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2186px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1674px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 327px;
}

.u-section-2 .u-form-1 {
  height: 295px;
  width: 1060px;
  margin: 16px auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}