 .u-section-1 {
  background-image: url("images/v46pmk.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 39px 945px 0 0;
}

.u-section-1 .u-form-1 {
  height: 447px;
  margin: 40px 0 0 55px;
}

.u-section-1 .u-form-group-1 {
  margin-top: auto !important;
}

.u-section-1 .u-form-group-3 {
  margin-top: auto;
}

.u-section-1 .u-btn-1 {
  padding: 9px 33px 11px 32px;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px 0 60px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 745px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 345px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 145px;
  }
}