.u-section-1 .u-sheet-1 {
  min-height: 2189px;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 403px;
  background-image: url("images/image1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 101px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -384px 0 0 476px;
}

.u-section-1 .u-image-2 {
  width: 436px;
  height: 436px;
  background-image: url("images/image2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 73px 42px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -410px 520px 0 0;
}

.u-section-1 .u-image-3 {
  width: 466px;
  height: 466px;
  background-image: url("images/image3.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 139px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -377px 0 0 520px;
}

.u-section-1 .u-image-4 {
  width: 418px;
  height: 418px;
  background-image: url("images/image4.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 120px 42px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -305px 502px 60px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 320px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 320px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1512px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -321px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -314px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -251px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -227px;
  }
}